.container{
    padding: 20px;
    color: black;
}

.loading{
    position: absolute;
    inset: 0 0 0 0;
    font-size: 50px;
    color: black;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}